:root {
  --surface-0: #f5f5f5;   /* fundo geral */
  --surface-1: #ffffff;   /* cards */
  --surface-2: #ededed;   /* barras, datas */

  --text-primary: #222;
  --text-secondary: #666;

  --border-subtle: #d6d6d6;

  --border-radius: 8px;
  --font-size-medium: 1.1rem;

   --btn-primary-bg: #222;
  --btn-primary-text: #fff;

  --btn-secondary-bg: #ededed;
  --btn-secondary-text: #222;

  --toggle-bg: #e0e0e0;
  --toggle-thumb: #ffffff;
}

body {
    margin: 0;
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    background-color: var(--surface-0);
    color: var(--text-primary);
    transition: background-color 0.3s, color 0.3s;

}

body.dark {
  --surface-0: #121212;
  --surface-1: #1e1e1e;
  --surface-2: #242424;

  --text-primary: #ededed;
  --text-secondary: #aaaaaa;

  --border-subtle: #2b2b2b;

  --btn-primary-bg: #3A3A3A;
  --btn-primary-text: #EDEDED;

  --btn-secondary-bg: #1E1E1E;
  --btn-secondary-text: #BEBEBE;

  --toggle-bg: #2a2a2a;
  --toggle-thumb: #e0e0e0;
}

p, h2, h3 {
    margin: 0;
}

* {
    box-sizing: border-box;
}


/* só pra simular a tela de um smartphone */
.app {
    width: 480px;
    height: 99vh;

    margin: 0 auto;

    border: 1px solid var(--border-subtle);

    position: relative;

    display: grid;

    background-color: var(--surface-1);
}

/* utilitários */

.hidden {
    display: none;
}

.visible {
    display: block;
}

/* buttons */
.btn {
    cursor: pointer;
    border-radius: var(--border-radius);
    font-size: 1.1rem;
    font-weight: 500;
    height: 3em;
    border: 1px solid var(--border-subtle);
}

.btn-primary {
  background-color: var(--btn-primary-bg);
  color: var(--btn-primary-text);
  border: 1px solid var(--border-subtle);
}

.btn-secondary {
  background-color: var(--btn-secondary-bg);
  color: var(--btn-secondary-text);
  border: 1px solid var(--border-subtle);
}

.btn-primary:hover {
  filter: brightness(1.1);
}

.btn-secondary:hover {
  background-color: var(--surface-2);
}
/* forms */



/* modais */



/* home page */

.home-page {
    position: relative;
}

header, .date-div {
    text-align: center;
}

header {
    padding: 1.3em 0 1em;
    font-size: 1.2rem;
    border-bottom: 1px solid var(--border-subtle);
}

/* toggle switch */
.switch {
  position: absolute;
  display: inline-block;
  top: 12px;
  right: 12px;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  inset: 0;
  background-color: var(--toggle-bg);
  transition: .4s;
}

.slider:before {
  content: "";
  position: absolute;
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: var(--toggle-thumb);
  transition: .4s;
  border-radius: 50%;
  z-index: 1;   
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

.slider i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 14px;
  transition: opacity .3s;
  z-index: 2;   
}

/* Sol (lado esquerdo) */
.sun-icon {
  left: 10px;
}

/* Lua (lado direito) */
.moon-icon {
  right: 11px;
  opacity: 0;
}

.sun-icon, .moon-icon {
    color: #222;
}


input:checked + .slider {
  background-color: var(--toggle-bg);
}

input:checked + .slider .sun-icon {
  opacity: 0;
}

input:checked + .slider .moon-icon {
  opacity: 1;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}


.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.date-div {
    background-color: var(--surface-2);

    border-bottom: 1px solid var(--border-subtle);

    font-size: 1.1rem;
    padding: 1em;

    color:  var(--text-primary);
}

.habits-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 2em 3em;
    overflow: auto;
}

.habit-element {
    width: 10em;
    height: 10em;

    border: 1px solid var(--border-subtle);
    border-radius: 12px;
    
    text-align: center;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    padding-bottom: 1em;
    
    background-color: var(--surface-1);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

    cursor: pointer;
}



/* create habit page */
.create-habit-page {
    position: relative;
}
.create-habit-page main {
    padding: 2em 1.5em;
}

form label {
    display: block;

    margin-bottom: 0.5em;

    font-size: var(--font-size-medium);
    font-weight: 600;
    color: var(--text-color);
}


form input, form textarea, #habit-frequency {
    width: 100%;
    height: 2.5em;

    border: 1px solid var(--border-subtle);
    border-radius: var(--border-radius);

    padding: 0.2em 0.4em;

    background-color: var(--surface-1);
    
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 0.9rem;
    color: var(--text-primary);

}

form textarea {
    padding: 0.5em;
    resize: none;
}


.form-group {
    margin-bottom: 2em;
}

.tags {
    display: flex;
    flex-direction: column;
    gap: 1em;
}
 
.tag {
    background: var(--surface-2);

    color: var(--text-primary);

    position: relative;

    padding: 0.5em 1em;
    margin-right: 1em;

    width: fit-content;

    border-radius: 1em;

    font-size: 0.9rem;

    display: inline-block;
}

.tag:hover {
    background: var(--surface-0);
}

.delete-tag-btn {
    font-size: 0.625rem;
    cursor: pointer;
    position: absolute;
    top: 3.5px;
    right: 6.25px;
}

#habit-tags {
    width: 49%;
}

.add-tag-btn {
    font-size: 0.9rem;
    font-weight: 600;
    width: fit-content;
    height: fit-content;
    padding: 0.6em 1em;
    margin-bottom: 0.5em;
    text-align: center;
    align-items: center;
}

.btns-div {
    margin-top: 11em; 
}

.btns-div button {
    width: 49%;
}


/* view habit page */
.habit-details {
    display: flex;
    flex-direction: column;

    gap: 0.675em;

    background-color: var(--surface-2);

    padding: 1em;
}

.span {
    font-weight: 800;
}

.view-habit-main {
    padding: 1em;
}

.calendar {
    border: 1px solid var(--text-primary);
    border-radius: var(--border-radius);

    padding: 1.2em 0.7em;

    display: flex;
    flex-direction: column;

}

.calendar-header {
    display: flex;
    justify-content: space-between;

    margin: 0 1em 1em;

    /* border: 1px solid rebeccapurple; */

    font-size: 1.2rem;
}

.calendar-btn {
    border: none;
    cursor: pointer;
    color: var(--text-secondary);
    background-color: var(--surface-1);
    font-size: 1em;
}

.month {
    display: flex;
    flex-direction: column;
    /* border: 1px solid purple; */
}

.weekdays, .days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
}

.weekdays {
    margin-bottom: 5px;
    /* border: 1px solid yellow; */
}

.weekday {
    text-align: center;
    font-weight: bold;
    color: var(--text-primary);
    padding: 8px 0;
    font-size: 0.85em;

    /* border: 1px solid green; */
}

.days {
    /* border: 1px solid pink; */
}

.day {
    width: 3em;
    height: 3em;

    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 50%;
    border: 1px solid var(--border-subtle);

    font-size: 0.9em;
    color: var(--text-primary);

}

.completed {
    background-color: var(--btn-primary-bg);
    color: var(--btn-primary-text);
}


/* nav bar */
.nav-bar {
    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 4em;     

    border-top: 2px solid var(--border-subtle);

    display: flex;
    align-items: center;
}

.nav-items {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.icon {
    font-size: 1.8em;
    font-size: 1.4rem;
    cursor: pointer;
    color: #777;
    transition: color 0.2s, transform 0.2s;
    position: relative;
}

.icon:hover {
    opacity: 0.7;
}

.icon.active {
    color: var(--text-color);             
    transform: translateY(-4px);
}

.icon.active::after {
    content: '';
    position: absolute;
    bottom: -6px;
    width: 6px;
    height: 6px;
    background-color: var(--text-color);
    border-radius: 50%;
}

.plus-icon {
    background-color: #000;
    color: #fff;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(-16px);
}




